<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<title>Lista de Compras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
        <h1 class="my-4">Historial de Compras</h1>
        <a href="/compras/nueva" class="btn btn-primary mb-3">Nueva Compra</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID Compra</th>
                    <th>Cliente</th>
                    <th>Producto</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <!--<th>Cantidad</th>-->
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="compra : ${listadoCompras}">
                    <td th:text="${compra.idCompra}"></td>
                    <!-- Manejo de cliente nulo -->
                    <td th:text="${compra.cliente != null ? compra.cliente.nombre : 'Cliente no asignado'}"></td>
                    <td th:text="${compra.producto != null ? compra.producto.nombre : 'Producto no asignado'}"></td>
                    <td th:text="${compra.fecha}"></td>
                    <td th:text="'$ ' + ${compra.total}"></td>
                    <!-- <td th:text="${compra.cantidad != null ? compra.cantidad : 'Cantidad no especificada'}"></td> -->
                    <!--<td th:text="${compra.cantidad != null ? compra.cantidad : '0'}"></td>-->
                    
                    <td>
                        <a th:href="@{'/compras/editar/' + ${compra.idCompra}}" class="btn btn-success btn-sm">Editar</a>
                        <a th:href="@{'/compras/eliminar/' + ${compra.idCompra}}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>